<h1>Welcome to Recipe Factory</h1>
<img src="https://userscontent2.emaze.com/images/f04b195d-b4e9-40b9-b1a1-2dff6ff248ac/ecbf734bf2275c58bb6976534649ced0.jpg" class="cookindex" alt="cookindex">
<form action="/search" method="POST">
    <input type="text" name="ingredient" required style="width: 50%; margin-left: 25%; margin-right:25%;">
    <button class="btn btn-primary" type="submit" style="margin-left: 45%; margin-right:45%; margin-top:10px">I am hungry</button>
</form>
