
<!------ Include the above in your HEAD tag ---------->

<div class="login-reg-panel">
						
		<div class="register-info-box">
			<h2>Don't have an account?</h2>
<p>Message</p>
      <a href="/auth/signup" class="btn btn-primary">Signup</a>

		</div>
<form method="POST" action="/auth/login">							
		<div class="white-panel">
			<div class="login-show">
				<h2 style="color:rgb(0, 0, 0)">LOGIN</h2>

				<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" name="username" required>
    
				<input type="password" placeholder="Password" class="form-control" id="exampleInputPassword1" name="password" required minlength="3" maxlength="10">
        <button type="submit" class="btn btn-primary">Lets Cook</button>

			
			</div>

		</div>
    </form>

	</div>
{{#if errorMessage}}
  <div>
   <p class="error-message"> {{ errorMessage }}</p>
  </div>
{{/if}}
  