<div class="login-reg-panel">
	<div class="login-info-box">
		<h2>Have an account?</h2>
		<p>Message</p>
		<a href="/auth/login" class="btn btn-primary">Login</a>
	</div>
	<div class="white-panel_signup">
		<form method="POST" action="/auth/signup">
					<div class="register-show">
						<h2 style="color:rgb(0, 0, 0)">REGISTER</h2>
						<input type="text" placeholder="Username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" required>
						<input placeholder="Email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="mail" required>
						<input placeholder="Password" type="password" class="form-control" id="exampleInputPassword1" name="password" required minlength="3" maxlength="10">
						<button type="submit" class="btn btn-primary">Submit if You want Eat</button>
					</div>
		</form>
		{{#if errorMessage}}
			<div>
				<p class="error-message"> {{ errorMessage }}</p>
			</div>
		{{/if}}
	</div>
</div>