body {
  margin: 20px;
  padding: none;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #252836;
}

h1, h2, li, p, h5, label {
  color: white;
}

h1{
  text-align: center;
}

.bg-light, .card, .card-img-top, .container-fluid, #navbarNavAltMarkup {
  background-color: #1f1d2b!important;
}

div.row.row-cols-1.row-cols-md-2.g-4 {
  justify-content: space-around;
}

#navbarNavAltMarkup a {
  color: white;
}

.nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: yellow;
}

button, .btn, .btn-primary, .btn-sm, .btn-primary:hover {
  background-color: #EA7C69;
  border-color: tomato;
  color: white;
}

a {
  text-decoration:none;
  color:#444444;
}

.login-reg-panel {
  position: relative;
  top: 300px;
  transform: translateY(-50%);
  text-align:center;
  width:70%;
  right:0;left:0;
  margin:auto;
  height:400px;
  background-color: rgba(202, 66, 45, 0.9);
}
.white-panel {
  background-color: rgba(255,255, 255, 1);
  height:500px;
  position:absolute;
  top:-50px;
  width:50%;
  right:calc(50% - 50px);
  z-index:0;
  box-shadow: 0 0 15px 9px #00000096;
}

.white-panel_signup {
  background-color: rgba(255,255, 255, 1);
  height:500px;
  position:absolute;
  top:-50px;
  width:50%;
  right:50px;
  z-index:0;
  box-shadow: 0 0 15px 9px #00000096;
}

.login-reg-panel input[type="radio"] {
  position:relative;
  display:none;
}

.login-reg-panel #label-login, 
.login-reg-panel #label-register {
  border:1px solid #9E9E9E;
  padding:5px 5px;
  width:150px;
  display:block;
  text-align:center;
  border-radius:10px;
  cursor:pointer;
  font-weight: 600;
  font-size: 18px;
}

.login-info-box {
  width:30%;
  padding:0 50px;
  top:20%;
  left:0;
  position:absolute;
  text-align:left;
}

.register-info-box {
  width:30%;
  padding:0 50px;
  top:20%;
  right:0;
  position:absolute;
  text-align:left;
}

.right-log {
  right:50px !important;
}

.register-show, .login-show {
  color:#242424;
  text-align: center;
  padding:50px;
}

.show-log-panel {
  display:block;
  opacity:0.9;
}

.login-show input[type="text"],
.login-show input[type="password"] {          
  width: 80%;
  display: block; 
  margin:30px auto;
  padding: 15px;
  border: 1px solid #b5b5b5;
  outline: none;
}

.login-show a {
  display:inline-block;
  padding:10px 0;
}

.register-show input[type="text"],
.register-show input[type="password"] {
  width: 80%;
  display: block; 
  margin:30px auto;
  padding: 15px;
  border: 1px solid #b5b5b5;
  outline: none;
}

.credit {
  position:absolute;
  bottom:10px;
  left:10px;
  color: #3B3B25;
  margin: 0;
  padding: 0;
  font-family: Arial,sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 99;
}

body {
  font-family: Arial;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #1f1d2b;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}

button.active {
  background-color: rgb(131, 124, 124);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #1f1d2b;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
}

.container {
  border-radius: 5px;
  background-color: #1f1d2b;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.cookindex {
 padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 10% ;
  margin-right: 10%;
  width: 80%;
  height: 320px;
}